# macOS
.DS_Store

# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
*.hmap
*.xccheckout
*.moved-aside
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Node (for web-dashboard later)
node_modules/
.next/
.env*.local

# IDE
.vscode/
.idea/
